
<div class="section-wrapper">
    <section class="section about" id="about">
        <div>
            <div class="section-heading" id="about-text">Welcome to Boat Corporation!</div>

            <div class="about-grid">
                    <p class="paragraph-text center-align">
                        This is our website for boat corporation's documentation.
                        <h2>On this website you will find our:</h2>
                        <h3>Requirements document</h3>
                        <h3>Architecture document</h3>
                        <h3>Method selection and planning document</h3>
                        <h3>Risk assessment and mitigation document</h3>
                        <h3>Implementation document</h3>
                    </p>
            </div>
            </div>
        </div>
    </section>
</div>
