<div class="section-wrapper">
    <section class="section contact" id="contact">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                Thank you for using our website
            </p>
            <p class="paragraph-text justify-text">
                If you have any questions feel free to contact us
                <h2>Team Members:</h2>
                    <h3>Joel Beedle</h3>
                    <h3>Anuj Deshmukh</h3>
                    <h3>Charlotte Gayton</h3>
                    <h3>Will Johnson</h3>
                    <h3>Arslan Amjad</h3>
                    <h3>Josh</h3>
            </p>
        </div>
    </section>
</div>
